h1,h6{
    color: #eb4e27;
}
h4{
    color: #0c7715;
}
h2 span{
    color: #eb4e27;
}
button a,button a:hover{
    text-decoration: none;
    color: #ffffff;
}
#logo{
    width: 10%;
    padding-right: 10px;
}
img{
    width: 50%;
}
.grid,.grid-bat{ 
    position: relative;
    margin: 30% 0;
    padding-left: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    grid-gap: 10%;
}
.grid-check{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 100px 0;
}
.grid-check input{
    padding:10px;
    margin: 20px 20px 0;
}
.grid-bat img{
    width: 45%;
}
.grid-cart{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: #f3faf9;
    grid-row-gap: 10px;
    margin: 10%;
}
.cart,.ca{
    margin-left: 70%;
}
#align{
    margin: 5% 0 5% 40%;
}
.single{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5% 5%;
    justify-items: center;
}
.single img{
    width: 120%;
}
.single p{
    color: #534e4e;
}
.single button{
    margin: 10px 0 10px 125px;
}
p span{
    color: #000000;

}
#header > app-toolbar:nth-child(1) > a:nth-child(4){
    position: relative;
}
#frontshoe,#frontbat{
    width: 100%;
}
#front{
    display: grid;
    width: 100%;
    justify-content: center;
    align-content: center;
    padding: 100px 20%;
    background-color: #000000;
}
.front{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10%;
    justify-items: center;
    align-items: center;
}
.show{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 100px;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 100px 0;
}
.icon-pic{
    width: 10%;
}
.show img{
    width: 100%;
    padding-bottom: 20px;
}
.show a{
    margin: 20px;
    width: 10%;
}
#home{
    padding-right: 30px;
}
@media only screen and (max-width:1000px){
    .grid,.grid-bat{
        margin-top: 95%;
        grid-template-columns: 1fr;
        grid-gap: 4%;
    }
    .grid-bat img{
        width: 60%;
    }
    .show a{
        width: 20%;
    }
    .front{
        grid-template-columns: 1fr 1fr;
    }
    .single{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .grid-check{
        grid-template-columns: 1fr;
        text-align: center;
        padding: 0;
        row-gap: 100px;
    }
    .single ul , .single p{
        padding-left: 10%;
        text-align: left;
    }
    .single img{
        width: 100%;
    }
    .single .button{
        text-align: center;
        padding-right: 30%;
    }
    .cart{
        margin-left: 60%;
    }
    #align{
        margin: 10% 10% 10% 30%;
    }
    .jumbotron #logo{
        width: 28%;
    }
}
